* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

body {
  padding: 0 5%;
  background-color: #fffdf1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: clamp(1vh, 5vw, 15vh);
  margin-top: 2%;
}

nav h1 {
  font-size: clamp(0.5rem, 2.35vw, 8rem);
  margin-right: -18%;
  span {
    color: #3726d1;
  }
}

nav div {
  width: 30%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  border-radius: 5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.274);
  background-color: #fff;

  a {
    text-decoration: none;
    color: #000;
    font-size: clamp(0.1rem, 1.2vw, 8rem);
  }

  a:hover {
    color: rgb(55, 38, 209);
  }
}

nav .nav-a {
  padding: 0.8%;
  border-radius: 5rem;
  text-decoration: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.274);
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: clamp(0.1rem, 1.2vw, 8rem);
}

nav .nav-a:hover {
  color: #3726d1;
}

/* 00000000000000000000000000000000000000000000000000000000000000 */

main {
  height: fit-content;
  padding: 5% 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-first h4 {
  font-size: clamp(0.2rem, 1.2vw, 5rem);
  margin-bottom: 1%;
}

.main-second {
  display: flex;
}

.main-img-circle {
  img {
    width: clamp(0.5rem, 2.95vw, 8rem);
    height: clamp(0.5rem, 2.95vw, 8rem);
    border-radius: 50%;

    margin-right: -9%;
  }
}

.main-f-p {
  font-size: clamp(0.5rem, 1.17vw, 8rem);
  font-weight: 600;
  margin-left: -13%;

  span {
    color: #3726d1;
  }
}

.main-first h1 {
  font-size: clamp(0.8rem, 4.93vw, 15rem);
}

.main-f-pp {
  padding: 3% 0;
  font-size: clamp(0.5rem, 1.17vw, 8rem);
}

.email-input {
  width: clamp(5vw, 35vw, 60vw);
  height: clamp(1vh, 3vw, 10vh);
  border-radius: 3rem;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.274);

  input {
    height: 100%;
    width: 70%;
    border: none;
    margin-left: 3%;
    outline: none;

    font-size: clamp(0.1rem, 1.2vw, 5rem);
    font-weight: 600;
  }

  a {
    display: flex;
    text-decoration: none;
    background-color: #3726d1;
    font-size: clamp(0.1rem, 1vw, 5rem);
    color: #fff;
    padding: 9% clamp(0.1rem, 1.2vw, 5rem);

    border-radius: 3rem;
  }
}

/* 0000000000000000000000000000000000000000000000 */

.nav-img {
  border-radius: clamp(0.01rem, 1vw, 3rem);
  height: clamp(5vh, 35vw, 80vh);
  width: clamp(5vw, 32vw, 70vw);
}

/* 00000000000000000000000000000000000000000000000000000000000000 */

.expert-care {
  height: fit-content;
  width: 100%;

  padding-bottom: 5%;

  display: flex;
  flex-direction: column;
}

.expert-first {
  padding-top: 3%;

  display: flex;
  align-items: center;

  img {
    border-radius: clamp(0.01rem, 1vw, 3rem);
    height: clamp(10vh, 30vw, 90vh);
    width: clamp(10vw, 38.1vw, 50vw);
  }
}

.expert-f-d {
  margin: 0 3%;

  p {
    padding: 3% 0;
    font-size: clamp(0.1rem, 1.2vw, 8rem);
  }

  h1 {
    font-size: clamp(0.1rem, 2.36vw, 8rem);
  }
}

.expert-f-d div {
  margin: 2% 0;

  background-color: #fff;
  width: fit-content;
  padding: 1%;
  width: clamp(5vw, 18vw, 40vw);
  border-radius: 3rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.274);

  font-size: clamp(0.2rem, 1.18vw, 8rem);
}

/* 000000000000000000000000000000000 */

.expert-second {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.expert-second div {
  h1 {
    font-size: clamp(0.2rem, 2.5vw, 8rem);
    color: #3726d1;
  }

  p {
    font-size: clamp(0.1rem, 1vw, 8rem);
  }
}

/* 00000000000000000000000000000000000000000000000000000000000000 */

.popular {
  height: fit-content;
  width: 100%;
  padding: 5% 0;
  /* background-color: rgb(145, 101, 21); */

  h1 {
    font-size: clamp(0.1rem, 2.1vw, 8rem);
  }
}

.popular-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-div div {
  display: flex;
  flex-direction: column;

  width: 32%;
  gap: 1vh;

  img {
    width: 100%;
    height: clamp(2vh, 16.4vw, 50vh);
    border-radius: clamp(0.01rem, 1vw, 3rem);

    margin-top: 7%;
  }

  h1 {
    font-size: clamp(0.2rem, 1.75vw, 8rem);
  }

  p {
    font-size: clamp(0.2rem, 0.95vw, 8rem);
    font-weight: 600;
  }

  a {
    color: #3726d1;
    text-decoration: none;
    font-size: clamp(0.2rem, 1.1vw, 8rem);
    font-weight: 700;
  }
}

/* 00000000000000000000000000000000000000000000000000000000000000 */

.expert {
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2% 0;

  h1 {
    font-size: clamp(0.1rem, 2.1vw, 8rem);
    margin-bottom: 2%;
  }
}

.expert-div {
  display: flex;
  justify-content: space-between;
}

.expert-div div {
  width: 32%;

  h1 {
    font-size: clamp(0.1rem, 1.76vw, 8rem);
  }

  p {
    font-size: clamp(0.1rem, 1.17vw, 8rem);
  }

  img {
    width: 100%;
    height: clamp(2vh, 24.7vw, 50vh);
    border-radius: clamp(0.01rem, 1vw, 3rem);
  }
}

/* 00000000000000000000000000000000000000000000000000000000000000 */

.question {
  height: fit-content;
  width: 100%;

  padding: 5% 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3.5vh;
}

.question h1 {
  font-size: clamp(0.1rem, 2.1vw, 8rem);
}

.question p {
  text-align: center;
  font-size: clamp(0.1rem, 1.3vw, 8rem);
}

.question-div {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.question-div-div {
  background-color: #fff;

  width: 60vw;
  height: fit-content;

  border-radius: clamp(0.1rem, 1.7vw, 8rem);
  padding: 1.5% 2%;

  p {
    display: none;
    padding: 5% 5% 5% 5%;
    text-align: justify;
    font-size: clamp(0.1rem, 1.4vw, 8rem);
    color: #000000a9;
  }
}

.question-div-div div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: clamp(0.1rem, 1.4vw, 8rem);
    font-weight: 300;
  }

  span {
    font-size: clamp(0.1rem, 1.4vw, 8rem);
    padding: 0.1% clamp(0.1rem, 0.4vw, 5rem);
    background-color: #3726d1;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
  }
}

/* 00000000000000000000000000000000000000000000000000000000000000 */

.trans {
  height: clamp(5vh, 34vw, 90vh);
  width: 100%;

  display: flex;
  background-color: #fff;
  border-radius: 1rem;

  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.432);

  margin: 7% 0;
}

.trans img {
  height: 100%;
  width: 47%;
  border-radius: 1rem;
}

.trans div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;

  gap: 3%;

  h1 {
    font-size: clamp(0.1rem, 3.28vw, 8rem);
  }

  p {
    font-size: clamp(0.1rem, 1.17vw, 8rem);
  }
}

.trans div div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  gap: 5%;

  a {
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(0.1rem, 1.2vw, 8rem);
  }
}

.tr-a {
  background-color: #3726d1;
  color: #fff;
  padding: 2% 3%;
  border-radius: clamp(0.01rem, 0.5vw, 3rem);

  font-size: clamp(0.1rem, 1.17vw, 8rem);

  margin-left: -2%;
}

/* 00000000000000000000000000000000000000000000000000000000000000 */

.footer {
  height: fit-content;
  width: 100%;
  padding-bottom: 5%;
}

.line {
  border: 10px;
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 1% 0;
}

.footer-f-div {
  display: flex;
  justify-content: space-between;
}

.f-ff-div {
  display: flex;
  flex-direction: column;
  gap: 1vh;

  h1 {
    font-size: clamp(0.1rem, 1.7vw, 8rem);

    span {
      color: #3726d1;
    }
  }

  p {
    font-size: clamp(0.1rem, 1.17vw, 8rem);
  }
}

.f-fs-div {
  display: flex;
  gap: 1vw;
  a {
    text-decoration: none;
    color: #000;
    font-size: clamp(0.1rem, 1.18vw, 8rem);
  }
}
